body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
img {
    display: block;
    left: 15%;
    position: absolute;
    z-index: -1;
}
header {
    background-color: rgba(60, 120, 160, 0.9);
    color: white;
    font-size: 150%;
    padding: 10px;

}
#left {
    background-color: rgba(0, 100, 0, 0.6);
    margin: 2%;
    width: 75%;
    height: 600px; 
    font-size: 120%;
    overflow: auto;
    box-shadow: 10px 10px 7px DimGray;
    flex: 1;

}
.prawo {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 1%;
    gap: 10px;
}
#right, #right2 {
    background-color: rgba(0, 100, 0, 0.6);
    margin: 1%;
    width: 100%;
    height: 300px;
    box-shadow: 10px 10px 7px DimGray;
}
footer {
    background-color: rgba(60, 120, 160, 0.9);
    padding: 10px;
    color: white;
}
h1, h2 {
text-align: center;
font-style: italic;
}
main {
    display: flex;
}